
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Work Sans', sans-serif !important;
}

.css-18k87ye-MuiTypography-root {
  font-family: 'Work Sans', sans-serif !important;
}

.css-h93ljk-MuiTypography-root {
  font-family: 'Work Sans', sans-serif !important;
}

.css-678bp8-MuiStack-root {
  align-items: center;
}

.css-2ulfj5-MuiTypography-root{
  font-family: 'Work Sans', sans-serif !important;
}

.css-5lbw0b-MuiTypography-root {
  font-family: 'Work Sans', sans-serif !important;

}